border--container()
  1px solid #d1d1d1 !important

.v-app-bar
.v-footer
  background-color: white !important

.v-app-bar:not(#editor--bar) .v-toolbar__content
#editor--bar .v-toolbar__extension
  border-bottom: border--container()
.v-footer
  border-top: border--container()